<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

  <p>
    <strong>Profile Picture:</strong><br>
    <% if @student && @student.profile_picture.attached? %>
      <%= image_tag @student.profile_picture %>
    <% else %>
      <%= image_tag 'https://via.placeholder.com/50x30', size: '50x30' %>
    <% end %>
  </p>


</div>
